.env
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg
*.egg-info
*.dist-info
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.whl
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
*.idea
*.DS_Store
*.vscode-test
venv/